<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4">
  <a class="navbar-brand">FINANSYS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/reports">Relatórios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/entries">Lançamentos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/categories">Categorias</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto"> <!-- Adicione esta lista para alinhar o botão à direita -->
      <li class="nav-item">
        <a class="nav-link" routerLink="">Deslogar</a> <!-- Redireciona para /login -->
      </li>
    </ul>
  </div>
</nav>

<nav class="mb-5">
 <ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Lançamentos</li>
 </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Lançamentos
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">
      + Novo Lançamento
    </a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
      <th>Lançamento</th>
      <th>Categoria</th>
      <th class="text-right">Valor R$</th>
      <th class="text-center">Açôes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ='let entry of entries'>
      <td>
        <strong>{{entry.name}}</strong><br>
        <small class="text-success">{{entry.date}}</small><br>
        <small *ngIf="entry.description">{{entry.description}}</small>
      </td>
      <td>
        {{entry.category.name}}
      </td>
      <td class="text-right">
        <strong [class.text-success]="entry.type == 'revenue'" [class.text-danger]="entry.type == 'expense'">
          {{entry.amount}}
        </strong>
        <br>
        <span class="badge badge-light">
          {{entry.paidText}}
        </span>     
      </td>
      <td class="text-center">
        <a [routerLink]="[entry.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteEntry(entry)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
